@page
@model WebApp_Pokemon.Pages.MenuPages.PokemonsModel

<h2>Pokemon List</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Level</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pokemon in Model.PokemonList)
        {
            <tr>
                <td>@pokemon.Id</td>
                <td>@pokemon.Name</td>
                <td>@pokemon.Type</td>
                <td>@pokemon.Level</td>
                <td>
                    <img src="~/images/@pokemon.ImagePath" alt="@pokemon.Name" style="width: 100px; height: auto;" />
                </td>
                <td>
                    <a class="btn btn-warning" href="/UserControls/Modify?id=@pokemon.Id">Edit</a>
                    <button type="submit" class="btn btn-danger" name="Delete" value="@pokemon.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
